.body {
    display: flex;
    flex-direction: column;
}

.canvas {
    display: flex;
    width: 100%;
    height: 85vh;
    flex-wrap: wrap;
}

.bar {
    display: flex;
    height: 10vh;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
}

.buttonContainer {
   width: 10vh;
   margin-right: 2vw;
   margin-botton: 2vw;
}

.diceContainer {
    width: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.dice {
    height: 10vw;
    width: 10vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.roll {
    color: white;
    font-size: 9vw;
}

.type {
    font-family: sans-serif;
    opacity: 0.6;
    z-index: -1;
}

.total {
    font-size: 10vw;
    margin-right: 2vw;
}
