<html>
    <head>
        <title>DNDice</title>
        <link rel="stylesheet" href="static/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body>
        <div class="canvas"></div>
        <div class="bar">
            <div class="buttons">
                {% for button in [4, 6, 8, 10, 12, 20, 50] %}
                <div class="buttonContainer">
                    <button class="addDiceButton" id="D{{ button }}">Add D{{ button }}</button>
                </div>
                {% endfor %}
                <div class="buttonContainer">
                    <button id="clearAllButton">Clear all</button>
                </div>
                <div class="buttonContainer">
                    <button id="rollButton">Roll</button>
                </div>
            </div>
            <div class="total">TOTAL:</div>
            <div id="counter" class="total">?</div>
        </div>

    </body>
    <script type="text/javascript" src="static/script.js"></script>
</html>